---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
  <div class="container">
    <div class="column">
      <!-- Header -->
      <section class="section">
        <div class="container">
          <!-- Title -->
          <h1 class="title has-text-centered">
            <img src="/assets/images/uxbyjen.png">
          </h1>

          <!-- Navigation -->
          <div class="is-size-5 title has-text-centered">
            <span class="icon">
              <i class="fas fa-home"></i>
            </span>
            <p>
              {% include nav.html %}
            </p>
          </div>
      </section>

      <!-- Sections -->
      {% for section in site.sections %}
      <section class="section is-small">
        <div class="container {% unless forloop.first %}section-border-top{% endunless %}">
          <h1 id="{{ section.slug }}" class="title has-text-centered">
            {{ section.section_title }}
          </h1>

          <div class="content">
            {{ section.content }}
          </div>
        </div>
      </section>
      {% endfor %}
    </div>
  </div>
</body>
</html>