---
---

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Sora:wght@100..800&display=swap" rel="stylesheet">
</head>

<body class="has-navbar-fixed-top">
  <div class="container">
    <div class="column">

      <!-- Nav bar -->
      <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="/assets/images/uxbyjen.png">
          </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end">
              {% include nav.html %}
            </div>
        </div>
      </nav>

      <!-- Sections -->
      {% for section in site.sections %}
        {% unless forloop.first %}<hr />{% endunless %}
        <section class="section is-small">
          <div class="container">
            <h1 id="{{ section.slug }}" class="title has-text-centered section-heading-1">
              {{ section.section_heading }}
            </h1>

            <div class="content">
              {{ section.content }}
            </div>
          </div>
        </section>
      {% endfor %}
    </div>
  </div>
</body>
</html>